* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

span {
  font-size: 10px;
  margin: 0;
}

i {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  min-height: 700px;
  background-color: rgb(245, 245, 245);
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  position: relative;
  top: 50px;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.navbar__list-item {
  position: relative;
  float: left;
}

.navbar__list-item a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 20px;
}

.navbar__list-item a:hover {
  color: rgb(58, 81, 122);
  transform: scale(1.1);
}

.section_p {
  line-height: 30px;
  width: 60%;
  padding: 0 60px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.514);
}

.section__h1 {
  font-size: 2.5rem;
  margin-top: 70px;
  margin-left: 40px;
  padding: 20px;
  margin-top: 100px;
}

.button {
  border: none;
  width: 220px;
  height: 70px;
  background-color: rgb(58, 81, 122);
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  border: 3px solid black;
}

.section-about__h2 {
  text-align: center;
  margin-top: 90px;
}

.section-about__p {
  width: 60%;
  text-align: center;
  align-self: center;
  line-height: 30px;
  margin-bottom: 90px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.514);
}

.section {
  display: flex;
  flex-direction: column;
}

.section-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 81, 122);
  height: 250px;
}

.section-icons__item {
  font-size: 60px;
  padding: 0 38px;
}

.span-num {
  position: relative;
  top: -30px;
  left: -30px;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.span--position {
  position: relative;
  font-weight: 100;
  font-size: 20px;
  color: rgb(255, 255, 255);
  left: 110px;
  top: -30px;
}

.section--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  margin-bottom: 90px;
}

.footer {
  background-color: rgb(58, 81, 122);
  height: 151px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section__span {
  top: 40px;
  left: 57px;
  position: relative;
  color: white;
  font-weight: bold;
}

.footer-section__span--size {
  position: relative;
  font-size: small;
  color: white;
  top: 20px;
  left: 57px;
}
